{%extends 'index.html'%}
{%block head%}
<style>
    .top{
        font-size: 50px;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: bolder;
        color: rgb(10, 10, 9) ;
    }
    .div{
        margin: auto;
        width: 550px;
        height: auto;
        margin-top: 20px;
        padding:20px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        font-size: 25px;
        border: 3px solid rgb(4, 4, 4);
        border-radius:10px;
        box-shadow: 4px 3px 25px 3px rgba(5, 5, 5);
        background-color: rgba(213, 208, 208, 0.75);
    }
    .input input{
        background: transparent;
        border: 0px;
        border-bottom:3px solid rgb(4, 4, 4);
        color:rgb(4, 4, 4)
    }
    @media screen and (max-width:700px){
        .top{
            font-size: 50px;
            font-family:Arial, Helvetica, sans-serif;
            font-weight: bolder;
            color: rgb(0, 0, 0) ;
        }
        .div{
            margin: auto;
            width: 500px;
            height: auto;
            margin-top: 20px;
            padding:20px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bolder;
            font-size: 25px;
            border: 3px solid rgb(0, 0, 0);
            border-radius:10px;
            box-shadow: 4px 3px 25px 3px rgb(119, 118, 118,.5);
            background-color: rgba(203, 201, 201, 0.75);
        }
        .input input{
            background: transparent;
            border: 0px;
            border-bottom:3px solid rgb(0, 0, 0);
            color:rgb(0, 0, 0)
        } 
    }
</style>
{%endblock head%}
{%block body%}
<br><br>
<center><h1 class="top"><u>PASSWORD RESET</u></h1></center>
{%if messages%}
{%for message in messages%}
{{message}} <br> 
{%endfor%}
{%endif%}
<br>
<div class="div">
    <form action="/passwordchange" method="post" enctype="multipart/form-data">
        {%csrf_token%}
        {%for i in data%}
        <span style="color:rgb(11, 11, 11)">{{i.label_tag}}</span> <span class="input">{{i}}</span>{{i.errors}} <br><br>
        {%endfor%}
        <center><button type="submit" style="color:rgb(59, 240, 23);border-radius:5px;border:0px;font-weight:bolder;background:transparent">change</button></center>
    </form>
</div>

{%endblock body%}